# Python specifics
.py[cod]
__pycache__/

# Auth
modules/google*/key.json

# Data
data*/
crawl*/
*.log

# Singapore English systems
modules/lvcsr*/systems

# Caption generator
modules/capgen*/model

# VSCode
.vscode